<ion-view view-title="Ana Sayfa">
  <ion-content class="padding">
    <br>
        <div style="text-align: center;">
            <img src="img/amblem.png" >    
        </div>

    <button class="button button-positive button-block" ng-click="barcode()" style="border-radius: 30px;">
QR Kod Okut
    </button>
    
    <button class="button button-positive button-block" ng-click="deneme()" style="border-radius: 30px;">
Deneme
    </button>

    <button class="button button-assertive button-block" style="border-radius: 30px;">
ÇIKIŞ
    </button>

  </ion-content>
</ion-view>
