<ion-view view-title="Nereye Gitmek İstiyorsunuz?">
  <ion-content class="padding">
    <span style="font-size: 15px;">
      <b>Bulunduğunuz Bölüm:</b> {{bulundugunYerBolum}}
    </span>
    <br><br>
    <label class="item item-input">
  <i class="icon ion-search placeholder-icon"></i>
  <input type="search" placeholder="Ara" ng-model="arama" ng-change="listeDegistir()">
</label>
    <br>
    <ion-list>
      <ion-item class="item item-icon-right" ng-repeat="item in bolumHedeflerListe | filter:arama" type="item-text-wrap" href="#/tab/{{git}}/{{item.s_id}}">
        {{item.s_name}}
        <i class="icon ion-chevron-right icon-accessory" style="color:#b72131"></i>
      </ion-item>
    </ion-list>
    <!--<br>
    <h2> {{bulundugunYer}} </h2>
    <br>-->

  </ion-content>
</ion-view>