<ion-view view-title="Bölümler">
  <ion-content class="padding">
    <!--<span style="font-size: 15px;">
      
    </span>-->
    <div style="font-size:20px; text-align:center;">
      <b>Bulunduğunuz Bölüm:</b><br>
      <u>{{bulundugunYerBolum}}</u><br><br>
      <b>Nereye Gitmek İstiyorsunuz?</b></div> <br>
    <label class="item item-input">
  <i class="icon ion-search placeholder-icon"></i>
  <input type="search" placeholder="Sınıf Ara" ng-model="arama" ng-change="listeDegistir()">
</label>
    <br>
    <ion-list>
      <ion-item class="item item-icon-right" ng-repeat="item in bolumHedeflerListe | filter:arama" type="item-text-wrap" href="#/tab/{{git}}/{{item.s_id}}">
        {{item.s_name}}
        <i class="icon ion-chevron-right icon-accessory" style="color:#158da9"></i>
      </ion-item>
    </ion-list>
    <!--<br>
    <h2> {{bulundugunYer}} </h2>
    <br>-->

  </ion-content>
</ion-view>