<ion-view view-title="Hakkımızda">
  <ion-content >
    <!--SONUC: {{sonuc}}-->
    <ion-item class="item-remove-animate item-avatar item-icon-right">
            <img src="img/amblem2.png">
            <h2> 
                <b>KOU Indoor Navigation</b>
            </h2>
            <p>Version: 1.0.0</p>
        </ion-item>
        <br>
        <div class="item item-divider">
            Adres
        </div>
        <div class="item item-text-wrap">
            KOÜ Mühendislik Fakültesi (B Blok) <br>
            Bilgisayar Mühendisliği <br>
            Umuttepe Yerleşkesi 41380 Kocaeli
        </div>
        <br>
        <div class="item item-divider">
            İletişim
        </div>
        <div class="item item-text-wrap">
            <b>Tel:</b>
            <a href="tel:02623033560">
                +90 (262) 303 35 60
            </a>
            <br>
            <b>E-Posta:</b>
            <a href="mailto:koudeneredeyim@gmail.com">
                koudeneredeyim@gmail.com</a>
        </div>
        <br>
        <div class="item item-divider">
            Geri Bildirim
        </div>
        <div class="item item-text-wrap">
            <a href="mailto:koudeneredeyim@gmail.com?subject=KOU Indoor Navigation Hk.">Geri bildirim için tıklayınız.</a>
        </div>
        <br>
            
    <!--<ion-scroll zooming="true" direction="xy" >
      <div id="harita" class="parent">
          <img class="image1" id="harita" src="img/rota2.jpg"  />
          <img class="image2" id="buradasinizRota" src="img/buradasinizRota.png"  style="left: 371px; top: 374px; " />
      </div>
    </ion-scroll>

    <button onclick="sinifKoordinat('301'); hedefFunc(371,374);" class="button button-positive">301</button>
    <button onclick="sinifKoordinat('303'); hedefFunc(371,374);" class="button button-positive">303</button>
    <button onclick="sinifKoordinat('305'); hedefFunc(371,374);" class="button button-positive">305</button>-->
    
      
   
   


  </ion-content>
</ion-view>
