<ion-view view-title="Hakkımızda">
  <ion-content class="padding">
    
    <ion-scroll zooming="true" direction="xy" >
      <div id="deneme2" class="parent">
          <img class="image1" src="img/rota2.jpg"  />
          <img class="image2" id="buradasinID" src="img/buradasiniz2.png"  style="top: 367px; left: 365px;" />
      </div>
    </ion-scroll>

    <button onclick="denemeHK(367,362)" class="button button-positive">Yazdir</button>
      
   <button onclick="ekle()" class="button">asdasd</button>
  </ion-content>
</ion-view>
