<ion-view view-title="Harita">
  <ion-content class="padding">
      <!--{{secilenYer.s_name}}-->
      {{adim}} - {{fark}}
      <!--<div>
        <img ng-src="{{buradasiniz}}" >
      </div>
      <div>
        <img ng-src="{{harita}}"  >
      </div>-->
      <ion-scroll zooming="true" direction="xy" >
      <div id="harita" class="parent">
          <img class="image1" src="img/rota2.jpg" />
          <img class="image2" id="buradasinizRota" src="img/buradasinizRota.png"  />
          <img class="image3" id="buradasinizKonum" src="img/buradasinizKonum.png"  />
      </div>
      </ion-scroll>

      <!--<ion-scroll zooming="true" direction="xy" >
        <div id="deneme2" class="parent">
            <img class="image1" id="harita" src="img/rota2.jpg"  />
            <img class="image2" id="buradasinKonum" src="img/buradasinizRota.png"  style="left: 371px; top: 374px; " />
        </div>
    </ion-scroll>-->

      <!--<button class="button button-assertive" ng-click="solaGit()"><</button>
      <button class="button button-assertive" ng-click="sagaGit()">></button>
      <button class="button button-assertive" ng-click="asagiGit()">asagi</button>
      <button class="button button-assertive" ng-click="yukariGit()">yukarı</button>-->
      
  </ion-content>
</ion-view>
