<ion-view view-title="Harita">
  <ion-content class="padding">
      <ion-scroll zooming="true" direction="xy" >
      <div id="harita" class="parent">
          <img class="image1" src="img/yeniRota.png" />
          <img class="image2" id="buradasinizRota" src="img/buradasinizRota.png"  />
          <img class="image3" id="buradasinizKonum" src="img/buradasinizKonum.png"  />
      </div>
      </ion-scroll>
  </ion-content>
</ion-view>

<!--<ion-scroll zooming="true" direction="xy" >
      <div id="harita" class="parent">
          <img class="image1" src="img/rota2.jpg" />
          <img class="image2" id="buradasinizRota" src="img/buradasinizRota.png"  />
          <img class="image3" id="buradasinizKonum" src="img/buradasinizKonum.png"  />
      </div>
       <button  class="button button-positive" onclick="baslangicBelirle()">Baslangic b.</button>
       <button  class="button button-positive" onclick="hedefFunc(84,216)">K0</button>
       <button  class="button button-positive" onclick="hedefFunc(360,250)">K1</button>
       <button  class="button button-positive" onclick="hedefFunc(632,105)">K2</button>
       <button  class="button button-positive" onclick="hedefFunc(282,414)">K3</button>
       <button  class="button button-positive" onclick="merdivenGit(84,216)">M0</button>
       <button  class="button button-positive" onclick="merdivenGit(360,250)">M1</button>
       <button  class="button button-positive" onclick="merdivenGit(632,105)">M2</button>
       <button  class="button button-positive" onclick="merdivenGit(282,414)">M3</button>
       <button  class="button button-positive" onclick="merdivenGit(153,237)">M4</button>
       
      </ion-scroll>-->