<ion-view view-title="Harita">
  <ion-content class="padding">
      <!--{{secilenYer.s_name}}-->
      {{adim}} - {{fark}}
      <!--<div>
        <img ng-src="{{buradasiniz}}" >
      </div>
      <div>
        <img ng-src="{{harita}}"  >
      </div>-->
      <ion-scroll zooming="true" direction="xy" >
      <div id="deneme" class="parent">
          <img class="image1" src="img/katPlaniGuncel2.png" />
          <img class="image2" id="buradasinID" src="img/buradasiniz2.png" style="top: 30px;" />
      </div>
      </ion-scroll>

      <button class="button button-assertive" ng-click="solaGit()"><</button>
      <button class="button button-assertive" ng-click="sagaGit()">></button>
      <button class="button button-assertive" ng-click="asagiGit()">asagi</button>
      <button class="button button-assertive" ng-click="yukariGit()">yukarı</button>
      
  </ion-content>
</ion-view>
